div >h1{

    color: white;
    margin-left: 445px;
    margin-top: 14px;
    font-size: 70px;
}
.button{

    border: 2px solid blue;
    background-color: blue;
    padding: 8px;
    color: white;
}

li {
    display:inline;
}