
.background{

    background: url(https://cdn2.hubspot.net/hubfs/145335/IMPACT_Framework_3/Homepage/Assets/Homepage-Hero--v3-1.jpg?t=1530867560803);
      height: 714px;
}





div >h1{

    color: white;
    margin-left: 445px;
    margin-top: 14px;
    font-size: 70px;
}
.button{

    border: 2px solid blue;
    background-color: blue;
    padding: 8px;
    color: white;
}

li {
    display:inline;
}
.image_1{

    width: 118px;
    margin-left: 123px;
    margin-top: 20px;
}

.start_here{

    margin-left: 785px;
    color: white;
}

